---
---

:root {
  --main-color: #009900;
  --text-color: #111111;
  --bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--main-color);
}
